.app-childProfile{
    .counterDiv{
        // background: linear-gradient(28deg, rgba(0, 0, 0, 0.2), #f4f5f8);;
        margin-top: 75px;
        margin-bottom: 30px;
        margin-inline-end: 10px;
        margin-inline-start: 10px;
        border-radius: 16px;
        .img{
            text-align: center;
            img {
                width: 35%;
                border-radius: 100px;
                margin-top: -63px;
            }
            h4{
                text-decoration: underline;
                font-family: emoji;
                font-weight: bold;
            }
        }
        ion-list-header{
            color: #95C11F;
            font-family: cursive;
        }
        .Info{
           ion-list{
            background: border-box;
            margin-top: -16px;
                ion-item {
                    --background: border-box;
                    border-radius: 16px;
                    --inner-border-width: 0 0 0px 0;
                    ion-icon {
                        color: lightslategray;
                    }
                }
            }
        }
        .Courses{
            ion-list{
             background: border-box;
             margin-top: -16px;
            //  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
                ion-item {
                    --background: border-box;
                    border-radius: 16px;
                    --inner-border-width: 0 0 0px 0;
                    ion-icon {
                        color: lightslategray;
                    }
                }
            }
        }
        hr {
            background-color: lightgray;
            margin-inline-end: 13px;
            margin-inline-start: 13px;
        }
    }
    .skeleton{
        .imgSkeleton{
            width: 35%;
            border-radius: 82px;
            height: 115px;
            margin-top: -63px;
            margin-inline-start: 32%;
            margin-inline-end: 32%;
        }
        h4{
            ion-skeleton-text{
                width: 45%;
                margin-inline-start: 27%;
                margin-inline-end: 27%;
            }
        }
        .InfoSkeleton{
            ion-list-header{
                ion-skeleton-text{
                    width: 40%;
                }
            }
            ion-skeleton-text{
                width: 90%;
            }
        }
    }
}